nav {
    width:80px;
    height: 1000px;
    padding-left: 400px;
    padding-right: 1000px;
    padding-bottom: 80px;

    
    
  }
  
  
  
.container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

  }